@import '../../../styles/mixins';
@import '../../../styles/variables';
.select {
padding-right: 15px;
  text-align: center;
  width: 110px;
  color: white;
  background-color: transparent;
  font-size: 14px;
  border: none;
  outline: none;
  appearance: none; // remove default arrow
  @include arrowButton($arrowDown, none, 11px 16px, right 4px top 50%, 8px 10px);
  &:hover{
    text-shadow: 2px 2px 0px black, dodgerblue 0 0 10px;
  }
}

.option {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;


  &checked {
    color: dodgerblue;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

