.select {
padding-right: 15px;
  text-align: center;
  width: 110px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none; // remove default arrow
  background-image: url("../../../icon/arrow-down.png");
  background-repeat: no-repeat, repeat;
  background-position: right .4em top 50%, 0 0;
  background-size: .65em auto, 100%;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    text-shadow: 2px 2px 0px black, white 0 0 10px;
  }
}

.option {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;


  &checked {
    color: dodgerblue;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

