.counter {
  display: flex;
  justify-content: center;

  .display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 35px;
    border-radius: 10px;
    background: #1976d2;
    color: white;

  }

  .arrows {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .inc {
      margin-bottom: 1px;
      width: 10px;
      height: 17.5px;
      border: none;
      background-color: transparent;
      background-image: url("../../../icon/arrow-up.png");
      background-position: left -1px top 50%, 0 0;
      background-repeat: no-repeat, repeat;
      background-size: 14px auto, 100%;
      &:hover {
        cursor: pointer;
      }

      &:active {
        background-size: 10px auto, 100%;
        background-position: left 1px top 50%, 0 0;
      }
    }

    .dec {
      margin-top: 1px;
      width: 10px;
      height: 17.5px;
      border: none;
      background-color: transparent;
      background-image: url("../../../icon/arrow-down.png");
      background-position: left -1px top 50%, 0 0;
      background-repeat: no-repeat, repeat;
      background-size: 14px auto, 100%;
      &:hover {
        cursor: pointer;
      }

      &:active {
        background-size: 10px auto, 100%;
        background-position: left 1px top 50%, 0 0;
      }
    }
  }
}

