.buttonBar {
  display: flex;
  align-items: center;
  margin-top: 5px;

  .divButFSort {
    display: flex;
    flex-basis: 14%;
    padding-left: 25px;
  }

  .divButLSort {
    display: flex;
    flex-basis: 13%;
    justify-content: center;
  }

  .selectLessons {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
  }

  .divAdd {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;

    .buttonAdd {
      background-color: #1976d2;
      color: white;
      border-radius: 0 0 5px 5px;
      background-size: .65em auto, 100%;
      &:hover{
        color: #1976d2;
        background-color: white;
      }
    }
  }

  .divCalculation {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;

    .butCalculation {
      background-color: #1976d2;
      color: white;
      border-radius: 0 0 5px 5px;
      background-size: .65em auto, 100%;
      &:hover{
        color: #1976d2;
        background-color: white;
      }
    }
  }
}

.buttonDec {
  background-color: rgb(51, 133, 229);
  background-image: url("../../../icon/arrow-down.png");
  background-position: right .4em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-radius: 0 0 0 7px;
  color: white;
  margin-right: 2px;
  &:hover{
    color: #1976d2;
    background-color: white;
  }
}

.buttonInc {
  background-image: url("../../../icon/arrow-up.png");
  background-position: right .4em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-radius: 0 0 7px 0;
  background-color: rgb(51, 133, 229);
  color: white;
  &:hover{
    color: #1976d2;
    background-color: white;
  }
}
