@import "../../../styles/mixins";
@import "../../../styles/variables";
.header {
  display: grid;
  grid-template-columns: 30px minmax(auto, 230px) minmax(auto, 270px) 1fr 1fr 55px 27px;
  grid-template-rows: 24px;
  align-items: center;
  justify-items: start;
  margin: 10px;
  border-radius: 10px 10px 0 0;
  background: #1976d2;

  .butSettings {
    background: none;
    border-top-left-radius: 10px;

    & img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      color: #1976d2;
      background-color: white;
    }
  }

  .firstNameHeader {
    padding-left: 10px;
  }

  .butFinalAssessment {
    align-items: center;
    background: none;
    border-top-right-radius: 10px;

    & img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      color: #1976d2;
      background-color: white;
    }
  }
}

.buttonDec {
  @include arrowButton($arrowDown, 7px 0 0 7px, 10px 14px, right 5px top 50%, 8px 10px);
  margin-right: 2px;
}

.buttonInc {
  @include arrowButton($arrowUp, 0 7px 7px 0, 10px 14px, right 5px top 50%, 8px 10px);
}
