.header {
  display: grid;
  grid-template-columns: 30px minmax(auto, 230px) minmax(auto, 270px) 1fr 1fr 55px 27px;
  grid-template-rows: 24px;
  align-items: center;
  justify-items: start;
  margin: 10px;
  border-radius: 10px 10px 0 0;
  background: #1976d2;

  .butSettings {
    background: none;
    border-top-left-radius: 10px;

    & img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      color: #1976d2;
      background-color: white;
    }
  }

  .firstNameHeader {
    padding-left: 10px;
  }

  .butFinalAssessment {
    align-items: center;
    background: none;
    border-top-right-radius: 10px;

    & img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      color: #1976d2;
      background-color: white;
    }
  }
}


.buttonDec {
  background-color: transparent;
  background-image: url("../../../icon/arrow-down.png");
  background-position: right .4em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-radius: 7px 0 0 7px;
  color: white;
  margin-right: 2px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-size: .85em auto, 100%;
  }
}

.buttonInc {
  background-image: url("../../../icon/arrow-up.png");
  background-position: right .4em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: .65em auto, 100%;
  border-radius: 0 7px 7px 0;
  background-color: transparent;
  color: white;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-size: .85em auto, 100%;
  }
}

