@import "../../styles/mixins";
@import "../../styles/variables";
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .enter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;

    .counter {
      display: flex;
      justify-content: center;

      .display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 35px;
        border-radius: 10px;
        background: #1976d2;
        color: white;
      }

      .arrows {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .inc {
          margin-bottom: 1px;
          width: 10px;
          height: 17.5px;
          @include arrowButton($arrowUp, none, 14px 16px, left -1px top 50%, 12px 14px);
        }

        .dec {
          margin-top: 1px;
          width: 10px;
          height: 17.5px;
          @include arrowButton($arrowDown, none, 14px 16px, left -1px top 50%, 12px 14px);
        }
      }
    }
  }

  .divButtonAdd {
    display: flex;
    justify-content: center;
    .buttonAdd {
      @include bluButton;
      width: 200px;
    }
  }
}
