.divInputSpan {
  display: flex;
  flex-direction: column;

  .superInput {
    border-radius: 5px;
    width: 120px;

    &:focus {
      outline: #348cb2;
      border-color: #348cb2;
      border-radius: 5px;
    }
  }

  .errorInput {
    outline: red;
    border-color: red;
    border-radius: 5px;
    width: 120px;
  }

  .errorSpan {
    color: red;
  }
}


