.table {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 700px;
  width: 90%;
  margin-top: 15px;

  .header {
    display: flex;
    justify-content: center;
    margin: 6px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    background: #1976d2;

    .butMagnifier {
      background: none;
      border-top-left-radius: 10px;

      & img {
        width: 15px;
        height: 15px;
      }
    }

    .firstNameHeader {
      padding-left: 25px;
      flex-basis: 17%;
    }

    .lastNameHeader {
      flex-basis: 15%;
    }

    .lessonHeader {
      display: flex;
      justify-content: flex-end;
      flex-basis: 13%;
    }

    .gradesHeader {
      display: flex;
      justify-content: center;
      flex-basis: 45%;
    }

    .finalAssessmentHeader {
      display: flex;
      flex-basis: 7%;
    }
  }

  .bodyTable {
    margin: 0 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background: rgba(0, 120, 255, 0.3);
    overflow: auto;
    height: 89%;

    .rowTable {
      display: flex;
      justify-content: center;
      min-height: 45px;

      .buttonRemove {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkred;
        color: white;
        width: 20px;
        height: 20px;
        border: #1976d2 3px solid;
        border-radius: 50%;
        font-size: 10px;

        &:focus {
          color: red;
        }

        &:hover {
          border: #1976d2 2px dotted;
        }
      }

      .firstNameBody {
        padding-left: 5px;
        flex-basis: 20%;
      }

      .lastNameBody {
        flex-basis: 20%;
      }

      .lessonBody {
        display: flex;
        justify-content: center;
        flex-basis: 18%;
      }

      .gradesBody {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 200px;
        flex-basis: 40%;
        margin-right: 5px;

        .oneGrade {
          margin: 0;
          padding: 0;
        }
      }

      .finalAssessmentBody {
        display: flex;
        justify-content: center;
        border-left: antiquewhite 1px inset;
        flex-basis: 10%
      }
    }
  }

  .battenBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }

}

.finalAssessment {

}

