.table {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 600px;
  width: 90%;
  margin-top: 15px;

  .header {
    display: flex;
    justify-content: center;
    margin: 6px 10px;
    border-radius: 10px 10px 0 0;
    background: #1976d2;

    .firstName {
      flex-basis: 15%;
    }

    .lastName {
      flex-basis: 14%;
    }

    .lesson {
      display: flex;
      justify-content: flex-end;
      flex-basis: 14%;
    }

    .grades {
      display: flex;
      justify-content: center;
      flex-basis: 45%;
    }

    .finalAssessment {
      display: flex;
      justify-content: center;
      flex-basis: 7%;
    }
  }

  .bodyTable {

    margin: 0 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background: rgba(0, 120, 255, 0.3);
    overflow: auto;
    height: 535px;

    .rowTable {
      display: flex;
      justify-content: center;
      min-height: 45px;

      .firstName {
        padding-left: 22px;
        flex-basis: 17%;
      }

      .lastName {
        flex-basis: 18%;
      }

      .lesson {
        display: flex;
        justify-content: center;
        flex-basis: 18%;
      }

      .grades {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 200px;
        flex-basis: 40%;
        margin-right: 5px;

        .oneGrade {
          display: flex;
          justify-content: center;

        }
      }

      .finalAssessment {
        display: flex;
        justify-content: center;
        border-left: antiquewhite 1px inset;
        flex-basis: 10%
      }
    }
  }

  .battenBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }

}

.finalAssessment {

}

